flows-10.json
[{"id":"99a4c776.7773b8","type":"tab","label":"Telemetry Display","disabled":false,"info":""},{"id":"3fd6859e.e02d02","type":"tab","label":"Pattern Generator","disabled":false,"info":""},{"id":"f7277b59.3492c8","type":"ui_base","theme":{"name":"theme-dark","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#0056d6","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#097479","value":"#0056d6","edited":true},"page-titlebar-backgroundColor":{"value":"#0056d6","edited":false},"page-backgroundColor":{"value":"#111111","edited":false},"page-sidebar-backgroundColor":{"value":"#000000","edited":false},"group-textColor":{"value":"#237cff","edited":false},"group-borderColor":{"value":"#555555","edited":false},"group-backgroundColor":{"value":"#333333","edited":false},"widget-textColor":{"value":"#eeeeee","edited":false},"widget-backgroundColor":{"value":"#0056d6","edited":false},"widget-borderColor":{"value":"#333333","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"19b6032f.7ade3d","type":"ui_tab","z":"","name":"EVEREST","icon":"dashboard","order":3,"disabled":false,"hidden":false},{"id":"ea339609.5afec8","type":"ui_group","z":"","name":"Graphs","tab":"19b6032f.7ade3d","order":1,"disp":false,"width":"9","collapse":false},{"id":"81667ae6.45c5f8","type":"ui_group","z":"","name":"Measurements","tab":"19b6032f.7ade3d","order":2,"disp":true,"width":"3","collapse":false},{"id":"35ca40be.09697","type":"ui_group","z":"","name":"Settings","tab":"19b6032f.7ade3d","order":3,"disp":true,"width":"3","collapse":false},{"id":"3941271c.a14d08","type":"ui_group","z":"","name":"Rate","tab":"19b6032f.7ade3d","order":7,"disp":false,"width":"4","collapse":false},{"id":"4aa0208d.0be2a","type":"ui_group","z":"","name":"Volume","tab":"19b6032f.7ade3d","order":11,"disp":false,"width":"4","collapse":false},{"id":"ca07e174.03b62","type":"ui_group","z":"","name":"PEEP","tab":"19b6032f.7ade3d","order":8,"disp":false,"width":"4","collapse":false},{"id":"b0258461.53e668","type":"ui_group","z":"","name":"Plateau","tab":"19b6032f.7ade3d","order":9,"disp":false,"width":"4","collapse":false},{"id":"aa8879a1.a9ba98","type":"ui_group","z":"","name":"Ratio In/Out","tab":"19b6032f.7ade3d","order":6,"disp":false,"width":"4","collapse":false},{"id":"674ff4fc.5cb88c","type":"ui_group","z":"","name":"Operation","tab":"19b6032f.7ade3d","order":5,"disp":true,"width":"4","collapse":false},{"id":"a05718db.818fd8","type":"ui_group","z":"","name":"Mode","tab":"19b6032f.7ade3d","order":4,"disp":false,"width":"4","collapse":false},{"id":"8020fa8e.f0c918","type":"ui_group","z":"","name":"FiO2","tab":"19b6032f.7ade3d","order":12,"disp":false,"width":"4","collapse":false},{"id":"436a38c6.f82ad8","type":"ui_tab","z":"","name":"Start Screen","icon":"dashboard","order":1,"disabled":true,"hidden":false},{"id":"163394a2.3b243b","type":"serial-port","z":"","serialport":"/dev/ttyUSB0","serialbaud":"115200","databits":"8","parity":"none","stopbits":"1","waitfor":"","dtr":"none","rts":"none","cts":"none","dsr":"none","newline":"\\n","bin":"false","out":"char","addchar":"","responsetimeout":"10000"},{"id":"740e6ec2.acd4a","type":"mqtt-broker","z":"","name":"mosquitto","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":"","closeTopic":"","closeQos":"0","closeRetain":"false","closePayload":"","willTopic":"","willQos":"0","willRetain":"false","willPayload":""},{"id":"4d180eb4.65c778","type":"ui_spacer","name":"spacer","group":"c8e6a417.8f2928","order":1,"width":1,"height":1},{"id":"52b33a98.ed6e54","type":"ui_group","z":"","name":"Rate","tab":"436a38c6.f82ad8","order":1,"disp":true,"width":"4","collapse":false},{"id":"9457704c.bd052","type":"ui_group","z":"","name":"Tidal Volume","tab":"436a38c6.f82ad8","order":3,"disp":true,"width":"4","collapse":false},{"id":"e730ebe.4313298","type":"ui_group","z":"","name":"PEEP","tab":"436a38c6.f82ad8","order":7,"disp":true,"width":"4","collapse":false},{"id":"d6fb0918.cf452","type":"ui_group","z":"","name":"Plateau","tab":"436a38c6.f82ad8","order":8,"disp":true,"width":"4","collapse":false},{"id":"ae7730d4.f7b368","type":"ui_group","z":"","name":"Ratio I/E","tab":"436a38c6.f82ad8","order":2,"disp":true,"width":"4","collapse":false},{"id":"dc92af60.0d02e","type":"ui_group","z":"","name":"Mode","tab":"436a38c6.f82ad8","order":4,"disp":true,"width":"4","collapse":false},{"id":"dee80d5a.ea9b28","type":"ui_group","z":"","name":"Operation","tab":"436a38c6.f82ad8","order":6,"disp":true,"width":"4","collapse":false},{"id":"c80ca67.3e3e7d8","type":"ui_group","z":"","name":"Final Settings","tab":"436a38c6.f82ad8","order":5,"disp":true,"width":"6","collapse":false},{"id":"9d7afce.03d198","type":"ui_group","z":"","name":"System state","tab":"","order":1,"disp":true,"width":"10","collapse":false},{"id":"231269c5.3ca7ae","type":"ui_group","z":"","name":"Settings","tab":"","order":2,"disp":true,"width":"5","collapse":false},{"id":"f02e0d73.234758","type":"ui_group","z":"","name":"Valve timing settings","tab":"","order":6,"disp":true,"width":"6","collapse":false},{"id":"7aa51e12.1a12f","type":"ui_group","z":"","name":"Pressure settings","tab":"","order":5,"disp":true,"width":"6","collapse":false},{"id":"7efff19d.7fd238","type":"ui_group","z":"","name":"Operation","tab":"","order":3,"disp":true,"width":"6","collapse":false},{"id":"ec3d709c.42ebd8","type":"serial-port","z":"","serialport":"COM10","serialbaud":"115200","databits":"8","parity":"none","stopbits":"1","waitfor":"","dtr":"none","rts":"none","cts":"none","dsr":"none","newline":"\\n","bin":"false","out":"char","addchar":"","responsetimeout":"10000"},{"id":"ea86ed29.8801a8","type":"ui_group","z":"","name":"Mode","tab":"","order":4,"disp":true,"width":"6","collapse":false},{"id":"ab3e8823.78dee8","type":"ui_group","z":"","name":"System state","tab":"","order":1,"disp":true,"width":"10","collapse":false},{"id":"d60b061a.50dbb","type":"ui_group","z":"","name":"Settings","tab":"","order":2,"disp":true,"width":"5","collapse":false},{"id":"1b826ea4.129529","type":"ui_group","z":"","name":"Valve timing settings","tab":"","order":6,"disp":true,"width":"6","collapse":false},{"id":"41174e9f.251a1","type":"ui_group","z":"","name":"Pressure settings","tab":"","order":5,"disp":true,"width":"6","collapse":false},{"id":"17dd504c.1c5868","type":"ui_group","z":"","name":"Operation","tab":"","order":3,"disp":true,"width":"6","collapse":false},{"id":"e5260df9.b4e248","type":"serial-port","z":"","serialport":"COM10","serialbaud":"115200","databits":"8","parity":"none","stopbits":"1","waitfor":"","dtr":"none","rts":"none","cts":"none","dsr":"none","newline":"\\n","bin":"false","out":"char","addchar":"","responsetimeout":"10000"},{"id":"1da3fe5b.d147aa","type":"ui_group","z":"","name":"Mode","tab":"","order":4,"disp":true,"width":"6","collapse":false},{"id":"fca9e807.dadf9","type":"ui_group","z":"","name":"Trigger Pressure","tab":"19b6032f.7ade3d","order":10,"disp":false,"width":"4","collapse":false},{"id":"fbbf74c3.91c0c","type":"ui_tab","z":"","name":"DEBUG","icon":"dashboard","disabled":false,"hidden":false},{"id":"aac42969.b4eda8","type":"ui_group","z":"","name":"In Valve Open","tab":"fbbf74c3.91c0c","disp":false,"width":"4","collapse":false},{"id":"dbd0afa8.f9abc8","type":"ui_group","z":"","name":"Ex Valve Open","tab":"fbbf74c3.91c0c","disp":false,"width":"4","collapse":false},{"id":"f194e603.2d6178","type":"ui_group","z":"","name":"Num Telemetry","tab":"fbbf74c3.91c0c","disp":false,"width":"4","collapse":false},{"id":"f0f5af66.87c9d8","type":"json","z":"99a4c776.7773b8","name":"","property":"payload","action":"","pretty":false,"x":290,"y":400,"wires":[["8ff9d76c.255b58"]]},{"id":"65ff88ce.e47e88","type":"change","z":"99a4c776.7773b8","name":"Pressure","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.P","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":640,"y":180,"wires":[["c7d31f2b.e1df9","7bda70da.bb27a","c9c4b121.318aa8","7265efb6.bd6338","235153e3.05a0ac"]]},{"id":"c7d31f2b.e1df9","type":"change","z":"99a4c776.7773b8","name":"Actual","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.Act","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":810,"y":100,"wires":[["9043cf4b.3e7e5"]]},{"id":"7265efb6.bd6338","type":"change","z":"99a4c776.7773b8","name":"Peak","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.Peak","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":810,"y":140,"wires":[["2039deea.d3de12"]]},{"id":"c9c4b121.318aa8","type":"change","z":"99a4c776.7773b8","name":"Mean","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.Mean","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":810,"y":220,"wires":[["25b0f28e.d93bbe"]]},{"id":"7bda70da.bb27a","type":"change","z":"99a4c776.7773b8","name":"PEEP","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.PEEP","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":810,"y":260,"wires":[["a68b6757.253a18"]]},{"id":"23411dba.e4b73a","type":"change","z":"99a4c776.7773b8","name":"Volume","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.Vol","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":640,"y":340,"wires":[["f814e6a4.ae6aa","e040f8.3c11b708","577c6092.f598f"]]},{"id":"f814e6a4.ae6aa","type":"change","z":"99a4c776.7773b8","name":"Actual","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.Act","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":810,"y":300,"wires":[["abe25b2c.2d091"]]},{"id":"e040f8.3c11b708","type":"change","z":"99a4c776.7773b8","name":"In","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.In","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":810,"y":340,"wires":[["be17dfcd.afab4"]]},{"id":"577c6092.f598f","type":"change","z":"99a4c776.7773b8","name":"Out","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.Out","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":810,"y":380,"wires":[["7ce775a9.e5cd2c"]]},{"id":"cff8476c.4a38e","type":"change","z":"99a4c776.7773b8","name":"Flow","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.Flow","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":810,"y":420,"wires":[["d93b99f9.5479e8"]]},{"id":"8d3b5ea8.d3b168","type":"change","z":"99a4c776.7773b8","name":"Rate","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.Rate","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":810,"y":460,"wires":[["f1ff0f27.428ed8"]]},{"id":"f2d542b8.6508f","type":"change","z":"99a4c776.7773b8","name":"FiO2","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.FiO2","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":810,"y":540,"wires":[["a9f22ce2.204b28"]]},{"id":"9043cf4b.3e7e5","type":"ui_chart","z":"99a4c776.7773b8","name":"","group":"ea339609.5afec8","order":0,"width":"8","height":"4","label":"Pressure [mbar]","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"10","removeOlderPoints":"","removeOlderUnit":"1","cutout":0,"useOneColor":false,"colors":["#0061ff","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":1160,"y":60,"wires":[[]]},{"id":"d93b99f9.5479e8","type":"ui_chart","z":"99a4c776.7773b8","name":"","group":"ea339609.5afec8","order":0,"width":"8","height":"4","label":"Flow [l/min]","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"10","removeOlderPoints":"","removeOlderUnit":"1","cutout":0,"useOneColor":false,"colors":["#0061ff","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":1150,"y":100,"wires":[[]]},{"id":"abe25b2c.2d091","type":"ui_chart","z":"99a4c776.7773b8","name":"","group":"ea339609.5afec8","order":0,"width":"8","height":"4","label":"Volume [ml]","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"10","removeOlderPoints":"","removeOlderUnit":"1","cutout":0,"useOneColor":false,"colors":["#0061ff","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":1150,"y":140,"wires":[[]]},{"id":"25b0f28e.d93bbe","type":"ui_text","z":"99a4c776.7773b8","group":"81667ae6.45c5f8","order":5,"width":0,"height":0,"name":"","label":"P-Mean [mBar]","format":"{{msg.payload}}","layout":"row-spread","x":1160,"y":300,"wires":[]},{"id":"2039deea.d3de12","type":"ui_text","z":"99a4c776.7773b8","group":"81667ae6.45c5f8","order":3,"width":0,"height":0,"name":"","label":"P-Peak [mBar]","format":"{{msg.payload}}","layout":"row-spread","x":1160,"y":220,"wires":[]},{"id":"f1ff0f27.428ed8","type":"ui_text","z":"99a4c776.7773b8","group":"81667ae6.45c5f8","order":1,"width":0,"height":0,"name":"","label":"Rate [1/min]","format":"{{msg.payload}}","layout":"row-spread","x":1150,"y":380,"wires":[]},{"id":"a9f22ce2.204b28","type":"ui_text","z":"99a4c776.7773b8","group":"81667ae6.45c5f8","order":9,"width":0,"height":0,"name":"","label":"FiO2 [%]","format":"{{msg.payload}}","layout":"row-spread","x":1140,"y":540,"wires":[]},{"id":"be17dfcd.afab4","type":"ui_text","z":"99a4c776.7773b8","group":"81667ae6.45c5f8","order":7,"width":0,"height":0,"name":"","label":"V-In [ml]","format":"{{msg.payload}}","layout":"row-spread","x":1140,"y":420,"wires":[]},{"id":"7ce775a9.e5cd2c","type":"ui_text","z":"99a4c776.7773b8","group":"81667ae6.45c5f8","order":8,"width":0,"height":0,"name":"","label":"V-Out [ml]","format":"{{msg.payload}}","layout":"row-spread","x":1140,"y":460,"wires":[]},{"id":"977f5244.f5524","type":"ui_text","z":"99a4c776.7773b8","group":"35ca40be.09697","order":5,"width":0,"height":0,"name":"","label":"P-PEEP [mBar]","format":"{{msg.payload}}","layout":"row-spread","x":1160,"y":820,"wires":[]},{"id":"d3ffc6ea.5392a8","type":"ui_text","z":"99a4c776.7773b8","group":"35ca40be.09697","order":1,"width":0,"height":0,"name":"","label":"Rate [1/min]","format":"{{msg.payload}}","layout":"row-spread","x":1150,"y":700,"wires":[]},{"id":"2fe033ed.38d0fc","type":"ui_text","z":"99a4c776.7773b8","group":"35ca40be.09697","order":2,"width":0,"height":0,"name":"","label":"Ratio I/E","format":"{{msg.payload}}","layout":"row-spread","x":1140,"y":740,"wires":[]},{"id":"413553c9.0002ac","type":"ui_text","z":"99a4c776.7773b8","group":"35ca40be.09697","order":7,"width":0,"height":0,"name":"","label":"Vt [ml]","format":"{{msg.payload}}","layout":"row-spread","x":1130,"y":780,"wires":[]},{"id":"73be5aee.9baacc","type":"change","z":"99a4c776.7773b8","name":"Rate [1/min]","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.Rate","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":830,"y":700,"wires":[["d3ffc6ea.5392a8"]]},{"id":"7c68330.5ae85cc","type":"change","z":"99a4c776.7773b8","name":"Volume","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.Vol","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":820,"y":780,"wires":[["413553c9.0002ac"]]},{"id":"56f77924.b62ba","type":"change","z":"99a4c776.7773b8","name":"PEEP","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.PEEP","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":810,"y":820,"wires":[["977f5244.f5524"]]},{"id":"d652db66.aff3d8","type":"change","z":"99a4c776.7773b8","name":"Mode","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.Mode","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":810,"y":900,"wires":[["13f04d3b.81f043"]]},{"id":"ce27c78.e73ecb8","type":"ui_text","z":"99a4c776.7773b8","group":"35ca40be.09697","order":4,"width":0,"height":0,"name":"","label":"P-Plateau [mBar]","format":"{{msg.payload}}","layout":"row-spread","x":1170,"y":860,"wires":[]},{"id":"ad3eb389.f8b928","type":"ui_text","z":"99a4c776.7773b8","group":"35ca40be.09697","order":3,"width":0,"height":0,"name":"","label":"","format":"{{msg.payload}}","layout":"row-spread","x":1130,"y":1100,"wires":[]},{"id":"9f25e084.68e358","type":"ui_text","z":"99a4c776.7773b8","group":"35ca40be.09697","order":6,"width":0,"height":0,"name":"","label":"P-Trg [mBar]","format":"{{msg.payload}}","layout":"row-spread","x":1150,"y":940,"wires":[]},{"id":"a68b6757.253a18","type":"ui_text","z":"99a4c776.7773b8","group":"81667ae6.45c5f8","order":6,"width":0,"height":0,"name":"","label":"P-PEEP [mBar]","format":"{{msg.payload}}","layout":"row-spread","x":1160,"y":340,"wires":[]},{"id":"c25cc7b7.692238","type":"ui_text","z":"99a4c776.7773b8","group":"35ca40be.09697","order":9,"width":0,"height":0,"name":"","label":"FiO2 [%]","format":"{{msg.payload}}","layout":"row-spread","x":1140,"y":980,"wires":[]},{"id":"7f28cd1.8953734","type":"ui_text","z":"99a4c776.7773b8","group":"81667ae6.45c5f8","order":2,"width":0,"height":0,"name":"","label":"Ration I/E","format":"{{msg.payload}}","layout":"row-spread","x":1140,"y":500,"wires":[]},{"id":"78ee750b.2db414","type":"ui_text","z":"99a4c776.7773b8","group":"35ca40be.09697","order":8,"width":0,"height":0,"name":"","label":"","format":"{{msg.payload}}","layout":"row-spread","x":1130,"y":1020,"wires":[]},{"id":"9bc5d2e4.5c1078","type":"ui_text","z":"99a4c776.7773b8","group":"35ca40be.09697","order":11,"width":0,"height":0,"name":"","label":"","format":"{{msg.payload}}","layout":"row-spread","x":1130,"y":1060,"wires":[]},{"id":"13f04d3b.81f043","type":"ui_text","z":"99a4c776.7773b8","group":"35ca40be.09697","order":10,"width":0,"height":0,"name":"","label":"Mode","format":"{{msg.payload}}","layout":"row-spread","x":1130,"y":900,"wires":[]},{"id":"ced685a.39360f8","type":"ui_text","z":"99a4c776.7773b8","group":"3941271c.a14d08","order":1,"width":0,"height":0,"name":"","label":"Rate [1/min]","format":"{{msg.payload}}","layout":"row-spread","x":390,"y":1280,"wires":[]},{"id":"5d3dfef8.ed6c1","type":"ui_slider","z":"99a4c776.7773b8","name":"","label":"","tooltip":"","group":"3941271c.a14d08","order":1,"width":"3","height":"1","passthru":true,"outs":"all","topic":"","min":"10","max":"30","step":1,"x":130,"y":1320,"wires":[["ced685a.39360f8","38b36d7b.35e252","e7339dd7.44a92"]]},{"id":"51f7a630.5f3d88","type":"ui_button","z":"99a4c776.7773b8","name":"","group":"3941271c.a14d08","order":2,"width":"1","height":"1","passthru":false,"label":"OK","tooltip":"","color":"","bgcolor":"","icon":"","payload":"{\"complete\":true}","payloadType":"json","topic":"","x":130,"y":1360,"wires":[["e3fc03a4.f45cc"]]},{"id":"26329800.02021","type":"comment","z":"99a4c776.7773b8","name":"Rate","info":"","x":130,"y":1280,"wires":[]},{"id":"acd45434.ef4868","type":"ui_text","z":"99a4c776.7773b8","group":"4aa0208d.0be2a","order":1,"width":0,"height":0,"name":"","label":"Vt [ml]","format":"{{msg.payload.Vt}}","layout":"row-spread","x":710,"y":1500,"wires":[]},{"id":"245efffe.134ac","type":"ui_slider","z":"99a4c776.7773b8","name":"","label":"Vt","tooltip":"","group":"4aa0208d.0be2a","order":2,"width":"3","height":"1","passthru":true,"outs":"all","topic":"","min":"350","max":"800","step":"10","x":130,"y":1520,"wires":[["a8a1bfa4.c0ea1","ffd6dc20.915b"]]},{"id":"fa97190c.d99ff","type":"ui_button","z":"99a4c776.7773b8","name":"","group":"4aa0208d.0be2a","order":6,"width":"0","height":"0","passthru":false,"label":"OK","tooltip":"","color":"","bgcolor":"","icon":"","payload":"{\"complete\":true}","payloadType":"json","topic":"","x":130,"y":1620,"wires":[["655c23fa.fca544"]]},{"id":"810b337f.daaa58","type":"comment","z":"99a4c776.7773b8","name":"Volume","info":"","x":130,"y":1480,"wires":[]},{"id":"164904e.098277b","type":"ui_text","z":"99a4c776.7773b8","group":"ca07e174.03b62","order":1,"width":0,"height":0,"name":"","label":"P-PEEP [mbar]","format":"{{msg.payload}}","layout":"row-spread","x":400,"y":1760,"wires":[]},{"id":"c26509c1.9ed258","type":"ui_slider","z":"99a4c776.7773b8","name":"","label":"","tooltip":"","group":"ca07e174.03b62","order":1,"width":"3","height":"1","passthru":true,"outs":"all","topic":"","min":"5","max":"25","step":1,"x":130,"y":1760,"wires":[["164904e.098277b","fc7fddcb.326228","28ec71f.5a2c18e"]]},{"id":"94931930.2a9b68","type":"ui_button","z":"99a4c776.7773b8","name":"","group":"ca07e174.03b62","order":2,"width":"1","height":"1","passthru":false,"label":"OK","tooltip":"","color":"","bgcolor":"","icon":"","payload":"{\"complete\":true}","payloadType":"json","topic":"","x":130,"y":1800,"wires":[["1ea8f1bf.b1593e"]]},{"id":"493ed7a2.ac3728","type":"comment","z":"99a4c776.7773b8","name":"PEEP","info":"","x":130,"y":1720,"wires":[]},{"id":"84be620e.184528","type":"comment","z":"99a4c776.7773b8","name":"Mode","info":"","x":130,"y":2880,"wires":[]},{"id":"67b2e231.e89c2c","type":"join","z":"99a4c776.7773b8","name":"","mode":"custom","build":"merged","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":530,"y":1380,"wires":[["edff09a9.0d416"]]},{"id":"6f831195.ce0a38","type":"join","z":"99a4c776.7773b8","name":"","mode":"custom","build":"merged","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":530,"y":1600,"wires":[["e973f938.f2932","acd45434.ef4868"]]},{"id":"41be9c25.4e4274","type":"join","z":"99a4c776.7773b8","name":"","mode":"custom","build":"merged","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":530,"y":1820,"wires":[["287101e3.365e6e"]]},{"id":"e53185a6.930be8","type":"join","z":"99a4c776.7773b8","name":"","mode":"custom","build":"merged","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"num","reduceFixup":"","x":410,"y":2900,"wires":[["99a1f2b1.c60b3","86d96850.895be"]]},{"id":"38b36d7b.35e252","type":"function","z":"99a4c776.7773b8","name":"Objectify","func":"var newmsg = {\"Rate\":msg.payload};\nreturn {\"payload\":newmsg};","outputs":1,"noerr":0,"x":380,"y":1320,"wires":[["67b2e231.e89c2c"]]},{"id":"a8a1bfa4.c0ea1","type":"function","z":"99a4c776.7773b8","name":"Objectify","func":"var newmsg = {\"Vt\":msg.payload};\nreturn {\"payload\":newmsg};","outputs":1,"noerr":0,"x":520,"y":1500,"wires":[["6f831195.ce0a38","a0045921.f0f258"]]},{"id":"fc7fddcb.326228","type":"function","z":"99a4c776.7773b8","name":"Objectify","func":"var newmsg = {\"PEEP\":msg.payload};\nreturn {\"payload\":newmsg};","outputs":1,"noerr":0,"x":380,"y":1800,"wires":[["41be9c25.4e4274"]]},{"id":"e3fc03a4.f45cc","type":"function","z":"99a4c776.7773b8","name":"Objectify","func":"return msg.payload;","outputs":1,"noerr":0,"x":380,"y":1380,"wires":[["67b2e231.e89c2c"]]},{"id":"655c23fa.fca544","type":"function","z":"99a4c776.7773b8","name":"Objectify","func":"return msg.payload;","outputs":1,"noerr":0,"x":380,"y":1620,"wires":[["6f831195.ce0a38"]]},{"id":"1ea8f1bf.b1593e","type":"function","z":"99a4c776.7773b8","name":"Objectify","func":"return msg.payload;","outputs":1,"noerr":0,"x":380,"y":1840,"wires":[["41be9c25.4e4274"]]},{"id":"f8ab1638.1ca8e","type":"function","z":"99a4c776.7773b8","name":"Objectify","func":"return msg.payload;","outputs":1,"noerr":0,"x":280,"y":3200,"wires":[["e53185a6.930be8"]]},{"id":"fb0e0d87.1a2ed","type":"comment","z":"99a4c776.7773b8","name":"Operation","info":"","x":140,"y":3260,"wires":[]},{"id":"e778c80a.b658e8","type":"join","z":"99a4c776.7773b8","name":"","mode":"custom","build":"merged","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"num","reduceFixup":"","x":530,"y":3340,"wires":[["b255ad4b.baa618","7790ab27.4ef2f4"]]},{"id":"3e415e0f.40ca7a","type":"function","z":"99a4c776.7773b8","name":"Objectify","func":"return msg.payload;","outputs":1,"noerr":0,"x":400,"y":3380,"wires":[["e778c80a.b658e8"]]},{"id":"52be1194.bcb598","type":"function","z":"99a4c776.7773b8","name":"enable","func":"return {\"enabled\":true};","outputs":1,"noerr":0,"x":130,"y":3460,"wires":[["3bc4029b.85fdb6"]]},{"id":"ea6e1586.6a7f48","type":"function","z":"99a4c776.7773b8","name":"disable","func":"return {\"enabled\":false};","outputs":1,"noerr":0,"x":140,"y":3500,"wires":[["3bc4029b.85fdb6"]]},{"id":"eb44fea3.01ece","type":"function","z":"99a4c776.7773b8","name":"enable","func":"return {\"enabled\":true};","outputs":1,"noerr":0,"x":290,"y":3460,"wires":[["ad341fe9.2cba9"]]},{"id":"45d5747d.db36ac","type":"function","z":"99a4c776.7773b8","name":"disable","func":"return {\"enabled\":false};","outputs":1,"noerr":0,"x":300,"y":3500,"wires":[["ad341fe9.2cba9"]]},{"id":"b255ad4b.baa618","type":"switch","z":"99a4c776.7773b8","name":"not empty","property":"payload","propertyType":"msg","rules":[{"t":"nempty"}],"checkall":"true","repair":false,"outputs":1,"x":660,"y":3340,"wires":[["6019b9c3.2dc74"]]},{"id":"86d96850.895be","type":"switch","z":"99a4c776.7773b8","name":"not empty","property":"payload","propertyType":"msg","rules":[{"t":"nempty"}],"checkall":"true","repair":false,"outputs":1,"x":560,"y":2920,"wires":[["6eceb982.d0d66"]]},{"id":"287101e3.365e6e","type":"switch","z":"99a4c776.7773b8","name":"not empty","property":"payload","propertyType":"msg","rules":[{"t":"nempty"}],"checkall":"true","repair":false,"outputs":1,"x":660,"y":1820,"wires":[["e7073086.2a199"]]},{"id":"e973f938.f2932","type":"switch","z":"99a4c776.7773b8","name":"not empty","property":"payload","propertyType":"msg","rules":[{"t":"cont","v":"","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":660,"y":1600,"wires":[["fffef79b.d8699"]]},{"id":"edff09a9.0d416","type":"switch","z":"99a4c776.7773b8","name":"not empty","property":"payload","propertyType":"msg","rules":[{"t":"nempty"}],"checkall":"true","repair":false,"outputs":1,"x":660,"y":1380,"wires":[["c444003c.ffb758"]]},{"id":"61684475.42ef0c","type":"function","z":"99a4c776.7773b8","name":"enable","func":"return {\"enabled\":true};","outputs":1,"noerr":0,"x":730,"y":2960,"wires":[["318600af.13423","4b6e63e8.ff77cc","a77532b5.f4bf98","c611e9d6.10747","4d87488a.0696b8"]]},{"id":"817a88df.78df3","type":"function","z":"99a4c776.7773b8","name":"disable","func":"return {\"enabled\":false};","outputs":1,"noerr":0,"x":560,"y":2960,"wires":[["d9c1103f.c6f93"]]},{"id":"e6b18f97.40b42","type":"function","z":"99a4c776.7773b8","name":"enable","func":"return {\"enabled\":true};","outputs":1,"noerr":0,"x":730,"y":3000,"wires":[["d9c1103f.c6f93","4b6e63e8.ff77cc","a77532b5.f4bf98","c611e9d6.10747","4d87488a.0696b8"]]},{"id":"b5e12b03.8b658","type":"function","z":"99a4c776.7773b8","name":"disable","func":"return {\"enabled\":false};","outputs":1,"noerr":0,"x":560,"y":3000,"wires":[["318600af.13423"]]},{"id":"f125d6a7.8d07b8","type":"ui_text","z":"99a4c776.7773b8","group":"81667ae6.45c5f8","order":10,"width":0,"height":0,"name":"","label":"","format":"{{msg.payload}}","layout":"row-spread","x":1130,"y":620,"wires":[]},{"id":"d27eb56.b0a4dc8","type":"ui_text","z":"99a4c776.7773b8","group":"b0258461.53e668","order":1,"width":0,"height":0,"name":"","label":"P-Plateau [mbar]","format":"{{msg.payload}}","layout":"row-spread","x":410,"y":2000,"wires":[]},{"id":"f1821e7e.835068","type":"ui_slider","z":"99a4c776.7773b8","name":"","label":"","tooltip":"","group":"b0258461.53e668","order":1,"width":"3","height":"1","passthru":true,"outs":"all","topic":"","min":"10","max":"75","step":1,"x":130,"y":2000,"wires":[["d27eb56.b0a4dc8","ab76add5.a4757","657af753.8e8918"]]},{"id":"786421fd.feb34","type":"ui_button","z":"99a4c776.7773b8","name":"","group":"b0258461.53e668","order":2,"width":"1","height":"1","passthru":false,"label":"OK","tooltip":"","color":"","bgcolor":"","icon":"","payload":"{\"complete\":true}","payloadType":"json","topic":"","x":130,"y":2040,"wires":[["14958565.cf1ddb"]]},{"id":"fe0f0e6b.43c9b8","type":"comment","z":"99a4c776.7773b8","name":"Plateau","info":"","x":130,"y":1960,"wires":[]},{"id":"8826dda2.154ed","type":"join","z":"99a4c776.7773b8","name":"","mode":"custom","build":"merged","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":530,"y":2060,"wires":[["5fca6fab.a17bc"]]},{"id":"ab76add5.a4757","type":"function","z":"99a4c776.7773b8","name":"Objectify","func":"var newmsg = {\"PPl\":msg.payload};\nreturn {\"payload\":newmsg};","outputs":1,"noerr":0,"x":380,"y":2040,"wires":[["8826dda2.154ed"]]},{"id":"14958565.cf1ddb","type":"function","z":"99a4c776.7773b8","name":"Objectify","func":"return msg.payload;","outputs":1,"noerr":0,"x":380,"y":2080,"wires":[["8826dda2.154ed"]]},{"id":"5fca6fab.a17bc","type":"switch","z":"99a4c776.7773b8","name":"not empty","property":"payload","propertyType":"msg","rules":[{"t":"nempty"}],"checkall":"true","repair":false,"outputs":1,"x":660,"y":2060,"wires":[["d4e7eeb6.8272a8"]]},{"id":"74167993.fa1008","type":"comment","z":"99a4c776.7773b8","name":"Settings","info":"","x":1140,"y":660,"wires":[]},{"id":"22e64784.4bf7f","type":"change","z":"99a4c776.7773b8","name":"Settings","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.Settings","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":660,"y":700,"wires":[["73be5aee.9baacc","7c68330.5ae85cc","56f77924.b62ba","d652db66.aff3d8","7c1988ec.787e48","8d68cfaa.ec7508","59bf379c.3fd118","2c135ecc.519b72"]]},{"id":"7c1988ec.787e48","type":"change","z":"99a4c776.7773b8","name":"P-Peak","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.PPl","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":820,"y":860,"wires":[["ce27c78.e73ecb8"]]},{"id":"8d68cfaa.ec7508","type":"change","z":"99a4c776.7773b8","name":"I/E [%]","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.IE","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":810,"y":740,"wires":[["2fe033ed.38d0fc"]]},{"id":"7790ab27.4ef2f4","type":"ui_text","z":"99a4c776.7773b8","group":"674ff4fc.5cb88c","order":1,"width":0,"height":0,"name":"","label":"Operation","format":"{{msg.payload.OP}}","layout":"row-spread","x":660,"y":3300,"wires":[]},{"id":"23e6895e.1ceaf6","type":"ui_button","z":"99a4c776.7773b8","name":"","group":"674ff4fc.5cb88c","order":4,"width":"0","height":"0","passthru":false,"label":"OK","tooltip":"","color":"","bgcolor":"","icon":"","payload":"{\"complete\":true}","payloadType":"json","topic":"","x":130,"y":3380,"wires":[["3e415e0f.40ca7a","857d2d29.140b18"]]},{"id":"ad341fe9.2cba9","type":"ui_button","z":"99a4c776.7773b8","name":"","group":"674ff4fc.5cb88c","order":3,"width":"1","height":"1","passthru":false,"label":"Stop","tooltip":"","color":"","bgcolor":"","icon":"","payload":"{\"OP\":\"Stop\"}","payloadType":"json","topic":"","x":130,"y":3340,"wires":[["e778c80a.b658e8","52be1194.bcb598","45d5747d.db36ac","8ca203a5.aaa8e"]]},{"id":"3bc4029b.85fdb6","type":"ui_button","z":"99a4c776.7773b8","name":"","group":"674ff4fc.5cb88c","order":2,"width":"1","height":"1","passthru":false,"label":"Start","tooltip":"","color":"","bgcolor":"","icon":"","payload":"{\"OP\":\"Start\"}","payloadType":"json","topic":"","x":130,"y":3300,"wires":[["e778c80a.b658e8","ea6e1586.6a7f48","eb44fea3.01ece","8ca203a5.aaa8e"]]},{"id":"99a1f2b1.c60b3","type":"ui_text","z":"99a4c776.7773b8","group":"a05718db.818fd8","order":1,"width":0,"height":0,"name":"","label":"Mode","format":"{{msg.payload.Mode}}","layout":"row-spread","x":550,"y":2880,"wires":[]},{"id":"104ad5c1.96ef5a","type":"ui_button","z":"99a4c776.7773b8","name":"","group":"a05718db.818fd8","order":8,"width":"0","height":"0","passthru":false,"label":"OK","tooltip":"","color":"","bgcolor":"","icon":"","payload":"{\"complete\":true}","payloadType":"json","topic":"","x":130,"y":3160,"wires":[["f8ab1638.1ca8e","a9847355.afc7d"]]},{"id":"318600af.13423","type":"ui_button","z":"99a4c776.7773b8","name":"","group":"a05718db.818fd8","order":2,"width":"1","height":"1","passthru":false,"label":"CMV-P","tooltip":"","color":"","bgcolor":"","icon":"","payload":"{\"Mode\":\"CMV-P\"}","payloadType":"json","topic":"","x":140,"y":2960,"wires":[["e53185a6.930be8","b5a27b52.5c5a3","b5e12b03.8b658","e6b18f97.40b42"]]},{"id":"d9c1103f.c6f93","type":"ui_button","z":"99a4c776.7773b8","name":"","group":"a05718db.818fd8","order":3,"width":"1","height":"1","passthru":false,"label":"CMV-V","tooltip":"","color":"","bgcolor":"","icon":"","payload":"{\"Mode\":\"CMV-V\"}","payloadType":"json","topic":"","x":140,"y":2920,"wires":[["e53185a6.930be8","b5a27b52.5c5a3","817a88df.78df3","61684475.42ef0c"]]},{"id":"1200a28.3db855e","type":"change","z":"99a4c776.7773b8","name":"Ratio","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.IE","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":810,"y":500,"wires":[["7f28cd1.8953734"]]},{"id":"21b2a850.1d134","type":"comment","z":"99a4c776.7773b8","name":"Measurements","info":"","x":1160,"y":180,"wires":[]},{"id":"2c679ca0.9e5a14","type":"comment","z":"99a4c776.7773b8","name":"Graphs","info":"","x":1130,"y":20,"wires":[]},{"id":"edcde963.fd3a78","type":"function","z":"99a4c776.7773b8","name":"","func":"return msg;","outputs":1,"noerr":0,"x":1470,"y":1960,"wires":[["cafaceea.daf4f8"]]},{"id":"a59a94c4.dead78","type":"ui_text","z":"99a4c776.7773b8","group":"aa8879a1.a9ba98","order":1,"width":"0","height":"0","name":"","label":"Ratio I/E","format":"{{msg.payload}}","layout":"row-spread","x":380,"y":2460,"wires":[]},{"id":"ce2b86e7.6e189","type":"ui_slider","z":"99a4c776.7773b8","name":"","label":"","tooltip":"","group":"aa8879a1.a9ba98","order":1,"width":"3","height":"1","passthru":true,"outs":"all","topic":"","min":"1","max":"3","step":"0.1","x":130,"y":2460,"wires":[["a59a94c4.dead78","8e24132e.650ea","93ccb0cf.857428"]]},{"id":"8feabec1.0b62e8","type":"ui_button","z":"99a4c776.7773b8","name":"","group":"aa8879a1.a9ba98","order":2,"width":"1","height":"1","passthru":false,"label":"OK","tooltip":"","color":"","bgcolor":"","icon":"","payload":"{\"complete\":true}","payloadType":"json","topic":"","x":130,"y":2500,"wires":[["380a767e.477942"]]},{"id":"6843192b.47a188","type":"comment","z":"99a4c776.7773b8","name":"Ratio In/Out","info":"","x":150,"y":2420,"wires":[]},{"id":"5a1e8066.4bdbb","type":"join","z":"99a4c776.7773b8","name":"","mode":"custom","build":"merged","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":530,"y":2520,"wires":[["c20032f0.a732a8"]]},{"id":"8e24132e.650ea","type":"function","z":"99a4c776.7773b8","name":"Objectify","func":"var newmsg = {\"IE\":msg.payload};\nreturn {\"payload\":newmsg};","outputs":1,"noerr":0,"x":380,"y":2500,"wires":[["5a1e8066.4bdbb"]]},{"id":"380a767e.477942","type":"function","z":"99a4c776.7773b8","name":"Objectify","func":"return msg.payload;","outputs":1,"noerr":0,"x":380,"y":2540,"wires":[["5a1e8066.4bdbb"]]},{"id":"c20032f0.a732a8","type":"switch","z":"99a4c776.7773b8","name":"not empty","property":"payload","propertyType":"msg","rules":[{"t":"nempty"}],"checkall":"true","repair":false,"outputs":1,"x":660,"y":2520,"wires":[["a0c35d61.8b98"]]},{"id":"c444003c.ffb758","type":"change","z":"99a4c776.7773b8","name":"Enhance","rules":[{"t":"set","p":"payload.IE","pt":"msg","to":"-1","tot":"num"},{"t":"set","p":"payload.PEEP","pt":"msg","to":"-1","tot":"num"},{"t":"set","p":"payload.PPl","pt":"msg","to":"-1","tot":"num"},{"t":"set","p":"payload.Vt","pt":"msg","to":"-1","tot":"num"},{"t":"set","p":"payload.Mode","pt":"msg","to":"","tot":"str"},{"t":"set","p":"payload.OP","pt":"msg","to":"","tot":"str"},{"t":"set","p":"payload.TrgP","pt":"msg","to":"-1","tot":"num"},{"t":"set","p":"payload.FiO2","pt":"msg","to":"-1","tot":"num"},{"t":"set","p":"payload.InOp","pt":"msg","to":"-1","tot":"num"},{"t":"set","p":"payload.OutOp","pt":"msg","to":"-1","tot":"num"},{"t":"set","p":"payload.Telm","pt":"msg","to":"-1","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":800,"y":1380,"wires":[["edcde963.fd3a78","af9d66b7.7b6fd8"]]},{"id":"fffef79b.d8699","type":"change","z":"99a4c776.7773b8","name":"Enhance","rules":[{"t":"set","p":"payload.Rate","pt":"msg","to":"-1","tot":"num"},{"t":"set","p":"payload.IE","pt":"msg","to":"-1","tot":"num"},{"t":"set","p":"payload.PEEP","pt":"msg","to":"-1","tot":"num"},{"t":"set","p":"payload.PPl","pt":"msg","to":"-1","tot":"num"},{"t":"set","p":"payload.Mode","pt":"msg","to":"","tot":"str"},{"t":"set","p":"payload.OP","pt":"msg","to":"","tot":"str"},{"t":"set","p":"payload.TrgP","pt":"msg","to":"-1","tot":"num"},{"t":"set","p":"payload.FiO2","pt":"msg","to":"-1","tot":"num"},{"t":"set","p":"payload.InOp","pt":"msg","to":"-1","tot":"num"},{"t":"set","p":"payload.OutOp","pt":"msg","to":"-1","tot":"num"},{"t":"set","p":"payload.Telm","pt":"msg","to":"-1","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":800,"y":1600,"wires":[["edcde963.fd3a78","1830b38f.251d84"]]},{"id":"e7073086.2a199","type":"change","z":"99a4c776.7773b8","name":"Enhance","rules":[{"t":"set","p":"payload.Rate","pt":"msg","to":"-1","tot":"num"},{"t":"set","p":"payload.IE","pt":"msg","to":"-1","tot":"num"},{"t":"set","p":"payload.PPl","pt":"msg","to":"-1","tot":"num"},{"t":"set","p":"payload.Vt","pt":"msg","to":"-1","tot":"num"},{"t":"set","p":"payload.Mode","pt":"msg","to":"","tot":"str"},{"t":"set","p":"payload.OP","pt":"msg","to":"","tot":"str"},{"t":"set","p":"payload.TrgP","pt":"msg","to":"-1","tot":"num"},{"t":"set","p":"payload.FiO2","pt":"msg","to":"-1","tot":"num"},{"t":"set","p":"payload.InOp","pt":"msg","to":"-1","tot":"num"},{"t":"set","p":"payload.OutOp","pt":"msg","to":"-1","tot":"num"},{"t":"set","p":"payload.Telm","pt":"msg","to":"-1","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":800,"y":1820,"wires":[["edcde963.fd3a78","1bcf6f4c.f4b909"]]},{"id":"d4e7eeb6.8272a8","type":"change","z":"99a4c776.7773b8","name":"Enhance","rules":[{"t":"set","p":"payload.Rate","pt":"msg","to":"-1","tot":"num"},{"t":"set","p":"payload.IE","pt":"msg","to":"-1","tot":"num"},{"t":"set","p":"payload.PEEP","pt":"msg","to":"-1","tot":"num"},{"t":"set","p":"payload.Vt","pt":"msg","to":"-1","tot":"num"},{"t":"set","p":"payload.Mode","pt":"msg","to":"","tot":"str"},{"t":"set","p":"payload.OP","pt":"msg","to":"","tot":"str"},{"t":"set","p":"payload.TrgP","pt":"msg","to":"-1","tot":"num"},{"t":"set","p":"payload.FiO2","pt":"msg","to":"-1","tot":"num"},{"t":"set","p":"payload.InOp","pt":"msg","to":"-1","tot":"num"},{"t":"set","p":"payload.OutOp","pt":"msg","to":"-1","tot":"num"},{"t":"set","p":"payload.Telm","pt":"msg","to":"-1","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":800,"y":2060,"wires":[["edcde963.fd3a78","d2395645.6b71a8"]]},{"id":"a0c35d61.8b98","type":"change","z":"99a4c776.7773b8","name":"Enhance","rules":[{"t":"set","p":"payload.Rate","pt":"msg","to":"-1","tot":"num"},{"t":"set","p":"payload.PEEP","pt":"msg","to":"-1","tot":"num"},{"t":"set","p":"payload.PPl","pt":"msg","to":"-1","tot":"num"},{"t":"set","p":"payload.Vt","pt":"msg","to":"-1","tot":"num"},{"t":"set","p":"payload.Mode","pt":"msg","to":"","tot":"str"},{"t":"set","p":"payload.OP","pt":"msg","to":"","tot":"str"},{"t":"set","p":"payload.TrgP","pt":"msg","to":"-1","tot":"num"},{"t":"set","p":"payload.FiO2","pt":"msg","to":"-1","tot":"num"},{"t":"set","p":"payload.InOp","pt":"msg","to":"-1","tot":"num"},{"t":"set","p":"payload.OutOp","pt":"msg","to":"-1","tot":"num"},{"t":"set","p":"payload.Telm","pt":"msg","to":"-1","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":800,"y":2520,"wires":[["edcde963.fd3a78","70a7f84a.cfcce8"]]},{"id":"6eceb982.d0d66","type":"change","z":"99a4c776.7773b8","name":"Enhance","rules":[{"t":"set","p":"payload.Rate","pt":"msg","to":"-1","tot":"num"},{"t":"set","p":"payload.IE","pt":"msg","to":"-1","tot":"num"},{"t":"set","p":"payload.PEEP","pt":"msg","to":"-1","tot":"num"},{"t":"set","p":"payload.PPl","pt":"msg","to":"-1","tot":"num"},{"t":"set","p":"payload.Vt","pt":"msg","to":"-1","tot":"num"},{"t":"set","p":"payload.OP","pt":"msg","to":"","tot":"str"},{"t":"set","p":"payload.FiO2","pt":"msg","to":"-1","tot":"num"},{"t":"set","p":"payload.InOp","pt":"msg","to":"-1","tot":"num"},{"t":"set","p":"payload.OutOp","pt":"msg","to":"-1","tot":"num"},{"t":"set","p":"payload.Telm","pt":"msg","to":"-1","tot":"num"},{"t":"set","p":"payload.TrgP","pt":"msg","to":"-1","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":740,"y":2920,"wires":[["edcde963.fd3a78"]]},{"id":"6019b9c3.2dc74","type":"change","z":"99a4c776.7773b8","name":"Enhance","rules":[{"t":"set","p":"payload.Rate","pt":"msg","to":"-1","tot":"num"},{"t":"set","p":"payload.IE","pt":"msg","to":"-1","tot":"num"},{"t":"set","p":"payload.PEEP","pt":"msg","to":"-1","tot":"num"},{"t":"set","p":"payload.PPeak","pt":"msg","to":"-1","tot":"num"},{"t":"set","p":"payload.Vt","pt":"msg","to":"-1","tot":"num"},{"t":"set","p":"payload.Mode","pt":"msg","to":"","tot":"str"},{"t":"set","p":"payload.FiO2","pt":"msg","to":"-1","tot":"num"},{"t":"set","p":"payload.InOp","pt":"msg","to":"-1","tot":"num"},{"t":"set","p":"payload.OutOp","pt":"msg","to":"-1","tot":"num"},{"t":"set","p":"payload.Telm","pt":"msg","to":"-1","tot":"num"},{"t":"set","p":"payload.TrgP","pt":"msg","to":"-1","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":800,"y":3340,"wires":[["edcde963.fd3a78","cb0e7aa.417a308"]]},{"id":"93ccb0cf.857428","type":"function","z":"99a4c776.7773b8","name":"enable","func":"return {\"enabled\":true};","outputs":1,"noerr":0,"x":130,"y":2600,"wires":[["8feabec1.0b62e8"]]},{"id":"70a7f84a.cfcce8","type":"function","z":"99a4c776.7773b8","name":"disable","func":"return {\"enabled\":false};","outputs":1,"noerr":0,"x":320,"y":2600,"wires":[["8feabec1.0b62e8"]]},{"id":"657af753.8e8918","type":"function","z":"99a4c776.7773b8","name":"enable","func":"return {\"enabled\":true};","outputs":1,"noerr":0,"x":130,"y":2140,"wires":[["786421fd.feb34"]]},{"id":"d2395645.6b71a8","type":"function","z":"99a4c776.7773b8","name":"disable","func":"return {\"enabled\":false};","outputs":1,"noerr":0,"x":320,"y":2140,"wires":[["786421fd.feb34"]]},{"id":"28ec71f.5a2c18e","type":"function","z":"99a4c776.7773b8","name":"enable","func":"return {\"enabled\":true};","outputs":1,"noerr":0,"x":130,"y":1900,"wires":[["94931930.2a9b68"]]},{"id":"1bcf6f4c.f4b909","type":"function","z":"99a4c776.7773b8","name":"disable","func":"return {\"enabled\":false};","outputs":1,"noerr":0,"x":320,"y":1900,"wires":[["94931930.2a9b68"]]},{"id":"a0045921.f0f258","type":"function","z":"99a4c776.7773b8","name":"enable","func":"return {\"enabled\":true};","outputs":1,"noerr":0,"x":130,"y":1680,"wires":[["fa97190c.d99ff"]]},{"id":"1830b38f.251d84","type":"function","z":"99a4c776.7773b8","name":"disable","func":"return {\"enabled\":false};","outputs":1,"noerr":0,"x":380,"y":1680,"wires":[["fa97190c.d99ff"]]},{"id":"e7339dd7.44a92","type":"function","z":"99a4c776.7773b8","name":"enable","func":"return {\"enabled\":true};","outputs":1,"noerr":0,"x":130,"y":1440,"wires":[["51f7a630.5f3d88"]]},{"id":"af9d66b7.7b6fd8","type":"function","z":"99a4c776.7773b8","name":"disable","func":"return {\"enabled\":false};","outputs":1,"noerr":0,"x":340,"y":1440,"wires":[["51f7a630.5f3d88"]]},{"id":"8ca203a5.aaa8e","type":"function","z":"99a4c776.7773b8","name":"enable","func":"return {\"enabled\":true};","outputs":1,"noerr":0,"x":490,"y":3500,"wires":[["23e6895e.1ceaf6"]]},{"id":"857d2d29.140b18","type":"function","z":"99a4c776.7773b8","name":"disable","func":"return {\"enabled\":false};","outputs":1,"noerr":0,"x":500,"y":3460,"wires":[["23e6895e.1ceaf6"]]},{"id":"b5a27b52.5c5a3","type":"function","z":"99a4c776.7773b8","name":"enable","func":"return {\"enabled\":true};","outputs":1,"noerr":0,"x":730,"y":3200,"wires":[["104ad5c1.96ef5a"]]},{"id":"a9847355.afc7d","type":"function","z":"99a4c776.7773b8","name":"disable","func":"return {\"enabled\":false};","outputs":1,"noerr":0,"x":560,"y":3200,"wires":[["104ad5c1.96ef5a"]]},{"id":"cafaceea.daf4f8","type":"json","z":"99a4c776.7773b8","name":"","property":"payload","action":"","pretty":false,"x":1590,"y":1960,"wires":[["2e770745.06ec8"]]},{"id":"6c6c9f20.9c474","type":"serial in","z":"99a4c776.7773b8","name":"","serial":"163394a2.3b243b","x":90,"y":400,"wires":[["f0f5af66.87c9d8"]]},{"id":"2e770745.06ec8","type":"serial out","z":"99a4c776.7773b8","name":"","serial":"163394a2.3b243b","x":1760,"y":1960,"wires":[]},{"id":"31f8be8e.e04d2a","type":"inject","z":"99a4c776.7773b8","name":"stop","topic":"","payload":"{\"OP\":\"Stop\"}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":510,"y":3300,"wires":[["b255ad4b.baa618"]]},{"id":"4a176a0e.103274","type":"inject","z":"99a4c776.7773b8","name":"start","topic":"","payload":"{\"OP\":\"Start\"}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":510,"y":3260,"wires":[["b255ad4b.baa618"]]},{"id":"8ff9d76c.255b58","type":"switch","z":"99a4c776.7773b8","name":"","property":"payload","propertyType":"msg","rules":[{"t":"cont","v":"payload.P","vt":"msg"},{"t":"cont","v":"payload.Vol","vt":"msg"},{"t":"cont","v":"payload.Flow","vt":"msg"},{"t":"cont","v":"payload.Rate","vt":"msg"},{"t":"cont","v":"payload.T-In","vt":"msg"},{"t":"cont","v":"payload.O2","vt":"msg"},{"t":"cont","v":"payload.Settings","vt":"msg"}],"checkall":"true","repair":false,"outputs":7,"x":470,"y":400,"wires":[["65ff88ce.e47e88"],["23411dba.e4b73a","cff8476c.4a38e"],[],["8d3b5ea8.d3b168"],["1200a28.3db855e"],["f2d542b8.6508f"],["22e64784.4bf7f"]]},{"id":"ede79f8a.791fd8","type":"inject","z":"99a4c776.7773b8","name":"reset","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":810,"y":20,"wires":[["cb0e7aa.417a308"]]},{"id":"cb0e7aa.417a308","type":"function","z":"99a4c776.7773b8","name":"reset","func":"\nreturn {\"payload\":[]};","outputs":1,"noerr":0,"x":990,"y":40,"wires":[["9043cf4b.3e7e5","d93b99f9.5479e8","abe25b2c.2d091"]]},{"id":"60b7780c.9fd548","type":"ui_button","z":"99a4c776.7773b8","name":"","group":"81667ae6.45c5f8","order":11,"width":0,"height":0,"passthru":false,"label":"reset graph","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":830,"y":60,"wires":[["cb0e7aa.417a308"]]},{"id":"954ca94.e8369d8","type":"ui_text","z":"99a4c776.7773b8","group":"81667ae6.45c5f8","order":4,"width":0,"height":0,"name":"","label":"P-Plateau [mBar]","format":"{{msg.payload}}","layout":"row-spread","x":1170,"y":260,"wires":[]},{"id":"235153e3.05a0ac","type":"change","z":"99a4c776.7773b8","name":"Plateau","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.Pl","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":820,"y":180,"wires":[["954ca94.e8369d8"]]},{"id":"acc5e4df.f4f4b","type":"ui_slider","z":"99a4c776.7773b8","name":"","label":"kg","tooltip":"","group":"4aa0208d.0be2a","order":4,"width":"3","height":"1","passthru":true,"outs":"all","topic":"","min":"10","max":"80","step":1,"x":130,"y":1560,"wires":[["79208375.6eb5a4","5d15fe35.3b7bc8"]]},{"id":"79208375.6eb5a4","type":"function","z":"99a4c776.7773b8","name":"kg to Vt","func":"var newmsg = msg.payload * 6;\nreturn {\"payload\":newmsg};","outputs":1,"noerr":0,"x":300,"y":1580,"wires":[["a8a1bfa4.c0ea1"]]},{"id":"5d15fe35.3b7bc8","type":"ui_text","z":"99a4c776.7773b8","group":"4aa0208d.0be2a","order":5,"width":"1","height":"1","name":"","label":"","format":"{{msg.payload}}","layout":"row-spread","x":290,"y":1540,"wires":[]},{"id":"ffd6dc20.915b","type":"ui_text","z":"99a4c776.7773b8","group":"4aa0208d.0be2a","order":3,"width":"1","height":"1","name":"","label":"","format":"{{msg.payload}}","layout":"row-spread","x":290,"y":1480,"wires":[]},{"id":"59bf379c.3fd118","type":"change","z":"99a4c776.7773b8","name":"Trigger Pressure","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.TrgP","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":840,"y":940,"wires":[["9f25e084.68e358"]]},{"id":"4b6e63e8.ff77cc","type":"ui_button","z":"99a4c776.7773b8","name":"","group":"a05718db.818fd8","order":4,"width":"1","height":"1","passthru":false,"label":"IMV-V","tooltip":"","color":"","bgcolor":"","icon":"","payload":"{\"Mode\":\"IMV-V\"}","payloadType":"json","topic":"","x":130,"y":3000,"wires":[["b5a27b52.5c5a3","6bc30f5a.34c1e8","ef7bbda5.97648","e53185a6.930be8"]]},{"id":"a77532b5.f4bf98","type":"ui_button","z":"99a4c776.7773b8","name":"","group":"a05718db.818fd8","order":5,"width":"1","height":"1","passthru":false,"label":"IMV-P","tooltip":"","color":"","bgcolor":"","icon":"","payload":"{\"Mode\":\"IMV-P\"}","payloadType":"json","topic":"","x":130,"y":3040,"wires":[["b5a27b52.5c5a3","671d130c.3c0864","4d049812.552418","e53185a6.930be8"]]},{"id":"c611e9d6.10747","type":"ui_button","z":"99a4c776.7773b8","name":"","group":"a05718db.818fd8","order":6,"width":"1","height":"1","passthru":false,"label":"CSV","tooltip":"","color":"","bgcolor":"","icon":"","payload":"{\"Mode\":\"CSV\"}","payloadType":"json","topic":"","x":130,"y":3080,"wires":[["b5a27b52.5c5a3","c14cd4c0.7bdfc","4e3152a2.af1a44","e53185a6.930be8"]]},{"id":"4d87488a.0696b8","type":"ui_button","z":"99a4c776.7773b8","name":"","group":"a05718db.818fd8","order":7,"width":"1","height":"1","passthru":false,"label":"time","tooltip":"","color":"","bgcolor":"","icon":"","payload":"{\"Mode\":\"time\"}","payloadType":"json","topic":"","x":130,"y":3120,"wires":[["b5a27b52.5c5a3","ecf3a87b.3c652","4fc59f92.579f7","e53185a6.930be8"]]},{"id":"ef7bbda5.97648","type":"function","z":"99a4c776.7773b8","name":"enable","func":"return {\"enabled\":true};","outputs":1,"noerr":0,"x":730,"y":3040,"wires":[["d9c1103f.c6f93","318600af.13423","a77532b5.f4bf98","c611e9d6.10747","4d87488a.0696b8"]]},{"id":"6bc30f5a.34c1e8","type":"function","z":"99a4c776.7773b8","name":"disable","func":"return {\"enabled\":false};","outputs":1,"noerr":0,"x":560,"y":3040,"wires":[["4b6e63e8.ff77cc"]]},{"id":"4d049812.552418","type":"function","z":"99a4c776.7773b8","name":"enable","func":"return {\"enabled\":true};","outputs":1,"noerr":0,"x":730,"y":3080,"wires":[["4d87488a.0696b8","c611e9d6.10747","4b6e63e8.ff77cc","318600af.13423","d9c1103f.c6f93"]]},{"id":"671d130c.3c0864","type":"function","z":"99a4c776.7773b8","name":"disable","func":"return {\"enabled\":false};","outputs":1,"noerr":0,"x":560,"y":3080,"wires":[["a77532b5.f4bf98"]]},{"id":"4e3152a2.af1a44","type":"function","z":"99a4c776.7773b8","name":"enable","func":"return {\"enabled\":true};","outputs":1,"noerr":0,"x":730,"y":3120,"wires":[["4d87488a.0696b8","a77532b5.f4bf98","4b6e63e8.ff77cc","318600af.13423","d9c1103f.c6f93"]]},{"id":"c14cd4c0.7bdfc","type":"function","z":"99a4c776.7773b8","name":"disable","func":"return {\"enabled\":false};","outputs":1,"noerr":0,"x":560,"y":3120,"wires":[["c611e9d6.10747"]]},{"id":"4fc59f92.579f7","type":"function","z":"99a4c776.7773b8","name":"enable","func":"return {\"enabled\":true};","outputs":1,"noerr":0,"x":730,"y":3160,"wires":[["c611e9d6.10747","a77532b5.f4bf98","4b6e63e8.ff77cc","318600af.13423","d9c1103f.c6f93"]]},{"id":"ecf3a87b.3c652","type":"function","z":"99a4c776.7773b8","name":"disable","func":"return {\"enabled\":false};","outputs":1,"noerr":0,"x":560,"y":3160,"wires":[["4d87488a.0696b8"]]},{"id":"f5766e24.2ab078","type":"ui_text","z":"99a4c776.7773b8","group":"fca9e807.dadf9","order":1,"width":0,"height":0,"name":"","label":"P-Trigger [mbar]","format":"{{msg.payload}}","layout":"row-spread","x":400,"y":2220,"wires":[]},{"id":"2c177f5.ac06a","type":"ui_slider","z":"99a4c776.7773b8","name":"","label":"","tooltip":"","group":"fca9e807.dadf9","order":1,"width":"3","height":"1","passthru":true,"outs":"all","topic":"","min":"0","max":"20","step":1,"x":130,"y":2220,"wires":[["f5766e24.2ab078","be6aa63d.33a4e8","2898ac1.47d5954"]]},{"id":"ae82d7e0.f27fb8","type":"ui_button","z":"99a4c776.7773b8","name":"","group":"fca9e807.dadf9","order":2,"width":"1","height":"1","passthru":false,"label":"OK","tooltip":"","color":"","bgcolor":"","icon":"","payload":"{\"complete\":true}","payloadType":"json","topic":"","x":130,"y":2260,"wires":[["2069fdb4.423222"]]},{"id":"1312994a.08d39f","type":"comment","z":"99a4c776.7773b8","name":"Trigger Pressure","info":"","x":160,"y":2180,"wires":[]},{"id":"73efb932.58286","type":"join","z":"99a4c776.7773b8","name":"","mode":"custom","build":"merged","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":530,"y":2280,"wires":[["82b9f7f9.212b88"]]},{"id":"be6aa63d.33a4e8","type":"function","z":"99a4c776.7773b8","name":"Objectify","func":"var newmsg = {\"TrgP\":msg.payload};\nreturn {\"payload\":newmsg};","outputs":1,"noerr":0,"x":380,"y":2260,"wires":[["73efb932.58286"]]},{"id":"2069fdb4.423222","type":"function","z":"99a4c776.7773b8","name":"Objectify","func":"return msg.payload;","outputs":1,"noerr":0,"x":380,"y":2300,"wires":[["73efb932.58286"]]},{"id":"82b9f7f9.212b88","type":"switch","z":"99a4c776.7773b8","name":"not empty","property":"payload","propertyType":"msg","rules":[{"t":"nempty"}],"checkall":"true","repair":false,"outputs":1,"x":660,"y":2280,"wires":[["889a9823.110b3"]]},{"id":"889a9823.110b3","type":"change","z":"99a4c776.7773b8","name":"Enhance","rules":[{"t":"set","p":"payload.Rate","pt":"msg","to":"-1","tot":"num"},{"t":"set","p":"payload.IE","pt":"msg","to":"-1","tot":"num"},{"t":"set","p":"payload.PEEP","pt":"msg","to":"-1","tot":"num"},{"t":"set","p":"payload.Vt","pt":"msg","to":"-1","tot":"num"},{"t":"set","p":"payload.Mode","pt":"msg","to":"","tot":"str"},{"t":"set","p":"payload.OP","pt":"msg","to":"","tot":"str"},{"t":"set","p":"payload.PPl","pt":"msg","to":"-1","tot":"num"},{"t":"set","p":"payload.FiO2","pt":"msg","to":"-1","tot":"num"},{"t":"set","p":"payload.InOp","pt":"msg","to":"-1","tot":"num"},{"t":"set","p":"payload.OutOp","pt":"msg","to":"-1","tot":"num"},{"t":"set","p":"payload.Telm","pt":"msg","to":"-1","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":800,"y":2280,"wires":[["68067c38.09a34c","edcde963.fd3a78"]]},{"id":"2898ac1.47d5954","type":"function","z":"99a4c776.7773b8","name":"enable","func":"return {\"enabled\":true};","outputs":1,"noerr":0,"x":130,"y":2360,"wires":[["ae82d7e0.f27fb8"]]},{"id":"68067c38.09a34c","type":"function","z":"99a4c776.7773b8","name":"disable","func":"return {\"enabled\":false};","outputs":1,"noerr":0,"x":320,"y":2360,"wires":[["ae82d7e0.f27fb8"]]},{"id":"2c135ecc.519b72","type":"change","z":"99a4c776.7773b8","name":"FiO2","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.FiO2","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":810,"y":980,"wires":[["c25cc7b7.692238"]]},{"id":"ccc5c25f.a0022","type":"ui_text","z":"99a4c776.7773b8","group":"8020fa8e.f0c918","order":1,"width":"0","height":"0","name":"","label":"FiO2","format":"{{msg.payload}}","layout":"row-spread","x":370,"y":2680,"wires":[]},{"id":"95821c3.2b4256","type":"ui_slider","z":"99a4c776.7773b8","name":"","label":"","tooltip":"","group":"8020fa8e.f0c918","order":1,"width":"3","height":"1","passthru":true,"outs":"all","topic":"","min":"21","max":"100","step":"0.1","x":130,"y":2680,"wires":[["ccc5c25f.a0022","133b2a3d.073386","2f220507.51f772"]]},{"id":"46b17a69.3ba63c","type":"ui_button","z":"99a4c776.7773b8","name":"","group":"8020fa8e.f0c918","order":2,"width":"1","height":"1","passthru":false,"label":"OK","tooltip":"","color":"","bgcolor":"","icon":"","payload":"{\"complete\":true}","payloadType":"json","topic":"","x":130,"y":2720,"wires":[["5b41f77f.078be"]]},{"id":"57641bf1.af8154","type":"comment","z":"99a4c776.7773b8","name":"FiO2","info":"","x":130,"y":2640,"wires":[]},{"id":"b7ccbc47.0a7d68","type":"join","z":"99a4c776.7773b8","name":"","mode":"custom","build":"merged","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":530,"y":2740,"wires":[["61246811.28682"]]},{"id":"133b2a3d.073386","type":"function","z":"99a4c776.7773b8","name":"Objectify","func":"var newmsg = {\"FiO2\":msg.payload};\nreturn {\"payload\":newmsg};","outputs":1,"noerr":0,"x":380,"y":2720,"wires":[["b7ccbc47.0a7d68"]]},{"id":"5b41f77f.078be","type":"function","z":"99a4c776.7773b8","name":"Objectify","func":"return msg.payload;","outputs":1,"noerr":0,"x":380,"y":2760,"wires":[["b7ccbc47.0a7d68"]]},{"id":"61246811.28682","type":"switch","z":"99a4c776.7773b8","name":"not empty","property":"payload","propertyType":"msg","rules":[{"t":"nempty"}],"checkall":"true","repair":false,"outputs":1,"x":660,"y":2740,"wires":[["6e34424e.be3ec4"]]},{"id":"6e34424e.be3ec4","type":"change","z":"99a4c776.7773b8","name":"Enhance","rules":[{"t":"set","p":"payload.Rate","pt":"msg","to":"-1","tot":"num"},{"t":"set","p":"payload.PEEP","pt":"msg","to":"-1","tot":"num"},{"t":"set","p":"payload.PPl","pt":"msg","to":"-1","tot":"num"},{"t":"set","p":"payload.Vt","pt":"msg","to":"-1","tot":"num"},{"t":"set","p":"payload.Mode","pt":"msg","to":"","tot":"str"},{"t":"set","p":"payload.OP","pt":"msg","to":"","tot":"str"},{"t":"set","p":"payload.TrgP","pt":"msg","to":"-1","tot":"num"},{"t":"set","p":"payload.IE","pt":"msg","to":"-1","tot":"num"},{"t":"set","p":"payload.InOp","pt":"msg","to":"-1","tot":"num"},{"t":"set","p":"payload.OutOp","pt":"msg","to":"-1","tot":"num"},{"t":"set","p":"payload.Telm","pt":"msg","to":"-1","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":800,"y":2740,"wires":[["3f5591ea.18b9be","edcde963.fd3a78"]]},{"id":"2f220507.51f772","type":"function","z":"99a4c776.7773b8","name":"enable","func":"return {\"enabled\":true};","outputs":1,"noerr":0,"x":130,"y":2820,"wires":[["46b17a69.3ba63c"]]},{"id":"3f5591ea.18b9be","type":"function","z":"99a4c776.7773b8","name":"disable","func":"return {\"enabled\":false};","outputs":1,"noerr":0,"x":320,"y":2820,"wires":[["46b17a69.3ba63c"]]},{"id":"5d3a7231.7d708c","type":"ui_text","z":"99a4c776.7773b8","group":"aac42969.b4eda8","order":1,"width":"0","height":"0","name":"","label":"In Valve Open [%]","format":"{{msg.payload}}","layout":"row-spread","x":410,"y":3600,"wires":[]},{"id":"fb8ae431.fb1d8","type":"ui_slider","z":"99a4c776.7773b8","name":"","label":"","tooltip":"","group":"aac42969.b4eda8","order":1,"width":"3","height":"1","passthru":true,"outs":"all","topic":"","min":"0","max":"100","step":"1","x":130,"y":3600,"wires":[["5d3a7231.7d708c","e65def8a.c3af8","d821ddd9.7f7458"]]},{"id":"7b56a52d.15f7f4","type":"ui_button","z":"99a4c776.7773b8","name":"","group":"aac42969.b4eda8","order":2,"width":"1","height":"1","passthru":false,"label":"OK","tooltip":"","color":"","bgcolor":"","icon":"","payload":"{\"complete\":true}","payloadType":"json","topic":"","x":130,"y":3640,"wires":[["7ef5616f.e8f9e8"]]},{"id":"5c73064c.5b4b4","type":"comment","z":"99a4c776.7773b8","name":"In Valve Open","info":"","x":150,"y":3560,"wires":[]},{"id":"8770ee03.71ed8","type":"join","z":"99a4c776.7773b8","name":"","mode":"custom","build":"merged","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":530,"y":3660,"wires":[["3ddd4fe9.12645"]]},{"id":"e65def8a.c3af8","type":"function","z":"99a4c776.7773b8","name":"Objectify","func":"var newmsg = {\"InOp\":msg.payload};\nreturn {\"payload\":newmsg};","outputs":1,"noerr":0,"x":380,"y":3640,"wires":[["8770ee03.71ed8"]]},{"id":"7ef5616f.e8f9e8","type":"function","z":"99a4c776.7773b8","name":"Objectify","func":"return msg.payload;","outputs":1,"noerr":0,"x":380,"y":3680,"wires":[["8770ee03.71ed8"]]},{"id":"3ddd4fe9.12645","type":"switch","z":"99a4c776.7773b8","name":"not empty","property":"payload","propertyType":"msg","rules":[{"t":"nempty"}],"checkall":"true","repair":false,"outputs":1,"x":660,"y":3660,"wires":[["654187e.963d678"]]},{"id":"654187e.963d678","type":"change","z":"99a4c776.7773b8","name":"Enhance","rules":[{"t":"set","p":"payload.Rate","pt":"msg","to":"-1","tot":"num"},{"t":"set","p":"payload.PEEP","pt":"msg","to":"-1","tot":"num"},{"t":"set","p":"payload.PPl","pt":"msg","to":"-1","tot":"num"},{"t":"set","p":"payload.Vt","pt":"msg","to":"-1","tot":"num"},{"t":"set","p":"payload.Mode","pt":"msg","to":"","tot":"str"},{"t":"set","p":"payload.OP","pt":"msg","to":"","tot":"str"},{"t":"set","p":"payload.TrgP","pt":"msg","to":"-1","tot":"num"},{"t":"set","p":"payload.OutOp","pt":"msg","to":"-1","tot":"num"},{"t":"set","p":"payload.Telm","pt":"msg","to":"-1","tot":"num"},{"t":"set","p":"payload.IE","pt":"msg","to":"-1","tot":"num"},{"t":"set","p":"payload.FiO2","pt":"msg","to":"-1","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":800,"y":3660,"wires":[["7e895269.1cf8b4","edcde963.fd3a78"]]},{"id":"d821ddd9.7f7458","type":"function","z":"99a4c776.7773b8","name":"enable","func":"return {\"enabled\":true};","outputs":1,"noerr":0,"x":130,"y":3740,"wires":[["7b56a52d.15f7f4"]]},{"id":"7e895269.1cf8b4","type":"function","z":"99a4c776.7773b8","name":"disable","func":"return {\"enabled\":false};","outputs":1,"noerr":0,"x":320,"y":3740,"wires":[["7b56a52d.15f7f4"]]},{"id":"22b32f11.5551e8","type":"ui_text","z":"99a4c776.7773b8","group":"dbd0afa8.f9abc8","order":1,"width":"0","height":"0","name":"","label":"Ex Valve Open [%]","format":"{{msg.payload}}","layout":"row-spread","x":410,"y":3820,"wires":[]},{"id":"1c379f67.caa5e1","type":"ui_slider","z":"99a4c776.7773b8","name":"","label":"","tooltip":"","group":"dbd0afa8.f9abc8","order":1,"width":"3","height":"1","passthru":true,"outs":"all","topic":"","min":"0","max":"100","step":"1","x":130,"y":3820,"wires":[["22b32f11.5551e8","fc9ca0db.9e655","8259ec3a.f1dee"]]},{"id":"dbe13a9e.698e9","type":"ui_button","z":"99a4c776.7773b8","name":"","group":"dbd0afa8.f9abc8","order":2,"width":"1","height":"1","passthru":false,"label":"OK","tooltip":"","color":"","bgcolor":"","icon":"","payload":"{\"complete\":true}","payloadType":"json","topic":"","x":130,"y":3860,"wires":[["f8efad0b.c47008"]]},{"id":"4e05637d.72a75c","type":"comment","z":"99a4c776.7773b8","name":"Out Valve Open","info":"","x":160,"y":3780,"wires":[]},{"id":"89c85199.65fdc8","type":"join","z":"99a4c776.7773b8","name":"","mode":"custom","build":"merged","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":530,"y":3880,"wires":[["506e3455.a5bc04"]]},{"id":"fc9ca0db.9e655","type":"function","z":"99a4c776.7773b8","name":"Objectify","func":"var newmsg = {\"OutOp\":msg.payload};\nreturn {\"payload\":newmsg};","outputs":1,"noerr":0,"x":380,"y":3860,"wires":[["89c85199.65fdc8"]]},{"id":"f8efad0b.c47008","type":"function","z":"99a4c776.7773b8","name":"Objectify","func":"return msg.payload;","outputs":1,"noerr":0,"x":380,"y":3900,"wires":[["89c85199.65fdc8"]]},{"id":"506e3455.a5bc04","type":"switch","z":"99a4c776.7773b8","name":"not empty","property":"payload","propertyType":"msg","rules":[{"t":"nempty"}],"checkall":"true","repair":false,"outputs":1,"x":660,"y":3880,"wires":[["b6cce4a.8289698"]]},{"id":"b6cce4a.8289698","type":"change","z":"99a4c776.7773b8","name":"Enhance","rules":[{"t":"set","p":"payload.Rate","pt":"msg","to":"-1","tot":"num"},{"t":"set","p":"payload.PEEP","pt":"msg","to":"-1","tot":"num"},{"t":"set","p":"payload.PPl","pt":"msg","to":"-1","tot":"num"},{"t":"set","p":"payload.Vt","pt":"msg","to":"-1","tot":"num"},{"t":"set","p":"payload.Mode","pt":"msg","to":"","tot":"str"},{"t":"set","p":"payload.OP","pt":"msg","to":"","tot":"str"},{"t":"set","p":"payload.TrgP","pt":"msg","to":"-1","tot":"num"},{"t":"set","p":"payload.InOp","pt":"msg","to":"-1","tot":"num"},{"t":"set","p":"payload.Telm","pt":"msg","to":"-1","tot":"num"},{"t":"set","p":"payload.IE","pt":"msg","to":"-1","tot":"num"},{"t":"set","p":"payload.FiO2","pt":"msg","to":"-1","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":800,"y":3880,"wires":[["38e9bcb2.6d3a74","edcde963.fd3a78"]]},{"id":"8259ec3a.f1dee","type":"function","z":"99a4c776.7773b8","name":"enable","func":"return {\"enabled\":true};","outputs":1,"noerr":0,"x":130,"y":3960,"wires":[["dbe13a9e.698e9"]]},{"id":"38e9bcb2.6d3a74","type":"function","z":"99a4c776.7773b8","name":"disable","func":"return {\"enabled\":false};","outputs":1,"noerr":0,"x":320,"y":3960,"wires":[["dbe13a9e.698e9"]]},{"id":"b81802e1.ebf4e8","type":"ui_text","z":"99a4c776.7773b8","group":"f194e603.2d6178","order":1,"width":"0","height":"0","name":"","label":"Num Telemetry [1/s]","format":"{{msg.payload}}","layout":"row-spread","x":420,"y":4060,"wires":[]},{"id":"273cf67f.94e68a","type":"ui_slider","z":"99a4c776.7773b8","name":"","label":"","tooltip":"","group":"f194e603.2d6178","order":1,"width":"3","height":"1","passthru":true,"outs":"all","topic":"","min":"1","max":"20","step":"1","x":130,"y":4060,"wires":[["b81802e1.ebf4e8","2dce3b56.37a114","75a5377c.5c4b08"]]},{"id":"fe670bcb.d99f7","type":"ui_button","z":"99a4c776.7773b8","name":"","group":"f194e603.2d6178","order":2,"width":"1","height":"1","passthru":false,"label":"OK","tooltip":"","color":"","bgcolor":"","icon":"","payload":"{\"complete\":true}","payloadType":"json","topic":"","x":130,"y":4100,"wires":[["77d162b0.9fd6bc"]]},{"id":"97193a77.71589","type":"comment","z":"99a4c776.7773b8","name":"Num Telemetry","info":"","x":160,"y":4020,"wires":[]},{"id":"74ddd66.08ba028","type":"join","z":"99a4c776.7773b8","name":"","mode":"custom","build":"merged","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":530,"y":4120,"wires":[["9ef552d4.6604c8"]]},{"id":"2dce3b56.37a114","type":"function","z":"99a4c776.7773b8","name":"Objectify","func":"var newmsg = {\"Telm\":msg.payload};\nreturn {\"payload\":newmsg};","outputs":1,"noerr":0,"x":380,"y":4100,"wires":[["74ddd66.08ba028"]]},{"id":"77d162b0.9fd6bc","type":"function","z":"99a4c776.7773b8","name":"Objectify","func":"return msg.payload;","outputs":1,"noerr":0,"x":380,"y":4140,"wires":[["74ddd66.08ba028"]]},{"id":"9ef552d4.6604c8","type":"switch","z":"99a4c776.7773b8","name":"not empty","property":"payload","propertyType":"msg","rules":[{"t":"nempty"}],"checkall":"true","repair":false,"outputs":1,"x":660,"y":4120,"wires":[["615d046a.3ed174"]]},{"id":"615d046a.3ed174","type":"change","z":"99a4c776.7773b8","name":"Enhance","rules":[{"t":"set","p":"payload.Rate","pt":"msg","to":"-1","tot":"num"},{"t":"set","p":"payload.PEEP","pt":"msg","to":"-1","tot":"num"},{"t":"set","p":"payload.PPl","pt":"msg","to":"-1","tot":"num"},{"t":"set","p":"payload.Vt","pt":"msg","to":"-1","tot":"num"},{"t":"set","p":"payload.Mode","pt":"msg","to":"","tot":"str"},{"t":"set","p":"payload.OP","pt":"msg","to":"","tot":"str"},{"t":"set","p":"payload.TrgP","pt":"msg","to":"-1","tot":"num"},{"t":"set","p":"payload.InOp","pt":"msg","to":"-1","tot":"num"},{"t":"set","p":"payload.OutOp","pt":"msg","to":"-1","tot":"num"},{"t":"set","p":"payload.IE","pt":"msg","to":"-1","tot":"num"},{"t":"set","p":"payload.FiO2","pt":"msg","to":"-1","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":800,"y":4120,"wires":[["364dcf8a.fe6878","edcde963.fd3a78"]]},{"id":"75a5377c.5c4b08","type":"function","z":"99a4c776.7773b8","name":"enable","func":"return {\"enabled\":true};","outputs":1,"noerr":0,"x":130,"y":4200,"wires":[["fe670bcb.d99f7"]]},{"id":"364dcf8a.fe6878","type":"function","z":"99a4c776.7773b8","name":"disable","func":"return {\"enabled\":false};","outputs":1,"noerr":0,"x":320,"y":4200,"wires":[["fe670bcb.d99f7"]]},{"id":"12c3da84.62610d","type":"inject","z":"3fd6859e.e02d02","name":"","topic":"","payload":"1","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":80,"wires":[["a943b795.1e7288"]]},{"id":"5315379e.7868b8","type":"delay","z":"3fd6859e.e02d02","name":"","pauseType":"delay","timeout":"250","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":410,"y":120,"wires":[["bd2f874d.5be07","2b513ded.3a67ca"]]},{"id":"6d5b33ce.09a064","type":"delay","z":"3fd6859e.e02d02","name":"","pauseType":"delay","timeout":"250","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":410,"y":160,"wires":[["bd2f874d.5be07","38c7d301.45f254"]]},{"id":"79e5115b.4ba128","type":"delay","z":"3fd6859e.e02d02","name":"","pauseType":"delay","timeout":"250","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":410,"y":200,"wires":[["bd2f874d.5be07","7933da11.2510d4"]]},{"id":"e6318329.2475a8","type":"delay","z":"3fd6859e.e02d02","name":"","pauseType":"delay","timeout":"250","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":410,"y":240,"wires":[["bd2f874d.5be07","c125fe39.8f53d8"]]},{"id":"6b2924c.17c665c","type":"delay","z":"3fd6859e.e02d02","name":"","pauseType":"delay","timeout":"250","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":410,"y":280,"wires":[["bd2f874d.5be07","40fe76ec.9c5ed8"]]},{"id":"3887f2e3.6350ce","type":"delay","z":"3fd6859e.e02d02","name":"","pauseType":"delay","timeout":"250","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":410,"y":320,"wires":[["bd2f874d.5be07","e25c5d89.8735c8"]]},{"id":"195b0ae7.f6a08d","type":"delay","z":"3fd6859e.e02d02","name":"","pauseType":"delay","timeout":"250","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":410,"y":360,"wires":[["bd2f874d.5be07","4a69f602.49214"]]},{"id":"5165faec.c9dcc4","type":"delay","z":"3fd6859e.e02d02","name":"","pauseType":"delay","timeout":"250","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":410,"y":400,"wires":[["bd2f874d.5be07","8f9d9ee2.cceee8"]]},{"id":"af321c90.3aa1f","type":"delay","z":"3fd6859e.e02d02","name":"","pauseType":"delay","timeout":"250","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":410,"y":440,"wires":[["bd2f874d.5be07","d66a59d5.f267a"]]},{"id":"d66a59d5.f267a","type":"delay","z":"3fd6859e.e02d02","name":"","pauseType":"delay","timeout":"250","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":410,"y":480,"wires":[["bd2f874d.5be07","bf5573b3.d3b2e8"]]},{"id":"bf5573b3.d3b2e8","type":"delay","z":"3fd6859e.e02d02","name":"","pauseType":"delay","timeout":"250","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":410,"y":520,"wires":[["bd2f874d.5be07","44f5f0e6.100698"]]},{"id":"44f5f0e6.100698","type":"delay","z":"3fd6859e.e02d02","name":"","pauseType":"delay","timeout":"250","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":410,"y":560,"wires":[["bd2f874d.5be07","9f68ca68.e7faa"]]},{"id":"9f68ca68.e7faa","type":"delay","z":"3fd6859e.e02d02","name":"","pauseType":"delay","timeout":"250","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":410,"y":600,"wires":[["bd2f874d.5be07","e5bac895.1060d"]]},{"id":"e5bac895.1060d","type":"delay","z":"3fd6859e.e02d02","name":"","pauseType":"delay","timeout":"250","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":410,"y":640,"wires":[["bd2f874d.5be07","728f7d28.ec74fc"]]},{"id":"728f7d28.ec74fc","type":"delay","z":"3fd6859e.e02d02","name":"","pauseType":"delay","timeout":"250","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":410,"y":680,"wires":[["bd2f874d.5be07","b1ec7b92.357e28"]]},{"id":"b1ec7b92.357e28","type":"delay","z":"3fd6859e.e02d02","name":"","pauseType":"delay","timeout":"250","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":410,"y":720,"wires":[["bd2f874d.5be07","5315379e.7868b8"]]},{"id":"a944de78.d87518","type":"function","z":"3fd6859e.e02d02","name":"reset","func":"return {\"reset\":true}","outputs":1,"noerr":0,"x":170,"y":720,"wires":[["b1ec7b92.357e28","728f7d28.ec74fc","e5bac895.1060d","9f68ca68.e7faa","44f5f0e6.100698","bf5573b3.d3b2e8","d66a59d5.f267a","af321c90.3aa1f","5165faec.c9dcc4","195b0ae7.f6a08d","3887f2e3.6350ce","6b2924c.17c665c","e6318329.2475a8","79e5115b.4ba128","6d5b33ce.09a064","5315379e.7868b8"]]},{"id":"aed8da4c.f38ca","type":"inject","z":"3fd6859e.e02d02","name":"","topic":"","payload":"{\"Settings\":{\"Rate\":15,\"Vol\":500,\"PEEP\":1010,\"Mode\":\"F\"},\"P\":{\"Act\":1010,PEEP\":1010,\"Mean\":1015,\"Max\":1030},\"Flow\":0,\"Rate\":15,\"O2:40,\"Vol\":{\"Act:0,In\":498,\"Out\":500}}","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":170,"y":760,"wires":[["a944de78.d87518"]]},{"id":"bd2f874d.5be07","type":"json","z":"3fd6859e.e02d02","name":"","property":"payload","action":"","pretty":false,"x":610,"y":420,"wires":[[]]},{"id":"69555b56.7e0174","type":"comment","z":"3fd6859e.e02d02","name":"Pattern","info":"","x":90,"y":40,"wires":[]},{"id":"a943b795.1e7288","type":"function","z":"3fd6859e.e02d02","name":"Pattern Generator","func":"var newmsg = {\"payload\":{\"Settings\":{\"Rate\":15,\"T-In\":50,\"Vol\":500,\"PEEP\":1010,\"PPeak\":1050,\"Mode\":\"V\"},\"P\":{\"Act\":1010,\"PEEP\":1010,\"Mean\":1015,\"Peak\":1030},\"Flow\":0,\"Rate\":15,\"T-In\":50,\"O2\":40,\"Vol\":{\"Act\":0,\"In\":498,\"Out\":500}}};\nreturn newmsg;","outputs":1,"noerr":0,"x":190,"y":120,"wires":[["5315379e.7868b8"]]},{"id":"2b513ded.3a67ca","type":"change","z":"3fd6859e.e02d02","name":"Pattern - 0.25","rules":[{"t":"set","p":"payload.P.Act","pt":"msg","to":"1015","tot":"num"},{"t":"set","p":"payload.Flow","pt":"msg","to":"7.5","tot":"num"},{"t":"set","p":"payload.Vol.Act","pt":"msg","to":"125","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":180,"y":160,"wires":[["6d5b33ce.09a064"]]},{"id":"38c7d301.45f254","type":"change","z":"3fd6859e.e02d02","name":"Pattern - 0.5","rules":[{"t":"set","p":"payload.P.Act","pt":"msg","to":"1030","tot":"num"},{"t":"set","p":"payload.Flow","pt":"msg","to":"15","tot":"num"},{"t":"set","p":"payload.Vol.Act","pt":"msg","to":"250","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":170,"y":200,"wires":[["79e5115b.4ba128"]]},{"id":"7933da11.2510d4","type":"change","z":"3fd6859e.e02d02","name":"Pattern - 0.75","rules":[{"t":"set","p":"payload.P.Act","pt":"msg","to":"1030","tot":"num"},{"t":"set","p":"payload.Flow","pt":"msg","to":"13","tot":"num"},{"t":"set","p":"payload.Vol.Act","pt":"msg","to":"375","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":180,"y":240,"wires":[["e6318329.2475a8"]]},{"id":"c125fe39.8f53d8","type":"change","z":"3fd6859e.e02d02","name":"Pattern - 1.00","rules":[{"t":"set","p":"payload.P.Act","pt":"msg","to":"1030","tot":"num"},{"t":"set","p":"payload.Flow","pt":"msg","to":"11","tot":"num"},{"t":"set","p":"payload.Vol.Act","pt":"msg","to":"500","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":180,"y":280,"wires":[["6b2924c.17c665c"]]},{"id":"40fe76ec.9c5ed8","type":"change","z":"3fd6859e.e02d02","name":"Pattern - 1.25","rules":[{"t":"set","p":"payload.P.Act","pt":"msg","to":"1015","tot":"num"},{"t":"set","p":"payload.Flow","pt":"msg","to":"-15","tot":"num"},{"t":"set","p":"payload.Vol.Act","pt":"msg","to":"375","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":180,"y":320,"wires":[["3887f2e3.6350ce"]]},{"id":"e25c5d89.8735c8","type":"change","z":"3fd6859e.e02d02","name":"Pattern - 1.5","rules":[{"t":"set","p":"payload.P.Act","pt":"msg","to":"1010","tot":"num"},{"t":"set","p":"payload.Flow","pt":"msg","to":"-7.5","tot":"num"},{"t":"set","p":"payload.Vol.Act","pt":"msg","to":"250","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":170,"y":360,"wires":[["195b0ae7.f6a08d"]]},{"id":"4a69f602.49214","type":"change","z":"3fd6859e.e02d02","name":"Pattern - 1.75","rules":[{"t":"set","p":"payload.P.Act","pt":"msg","to":"payload.Settings.PEEP","tot":"msg"},{"t":"set","p":"payload.Flow","pt":"msg","to":"-3.5","tot":"num"},{"t":"set","p":"payload.Vol.Act","pt":"msg","to":"125","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":180,"y":400,"wires":[["5165faec.c9dcc4"]]},{"id":"8f9d9ee2.cceee8","type":"change","z":"3fd6859e.e02d02","name":"Pattern - 1.00","rules":[{"t":"set","p":"payload.P.Act","pt":"msg","to":"payload.Settings.PEEP","tot":"msg"},{"t":"set","p":"payload.Flow","pt":"msg","to":"0","tot":"num"},{"t":"set","p":"payload.Vol.Act","pt":"msg","to":"0","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":180,"y":440,"wires":[["af321c90.3aa1f"]]}]